## Imports

In [25]:
import pandas as pd

# Question 1a

In [26]:
# Read to dataframe with Month_Start as a date
df = pd.read_csv("data/flight_delays.csv", parse_dates=["Month_Start"])

In [27]:
# First 5 rows
print(df.head())

  Departing_Port Arriving_Port Airline Month_Start  Flights  \
0       Adelaide      Brisbane  Qantas  2004-01-01       93
1       Adelaide      Canberra  Qantas  2004-01-01       48
2       Adelaide    Gold Coast  Qantas  2004-01-01        9
3       Adelaide     Melbourne  Qantas  2004-01-01      350
4       Adelaide         Perth  Qantas  2004-01-01      130

   Departures_Delayed  Arrivals_Delayed
0                12.0               8.0
1                 3.0               3.0
2                 1.0               1.0
3                33.0              25.0
4                 9.0               5.0

In [28]:
# First 5 rows
print(df.tail())

      Departing_Port Arriving_Port                             Airline  \
73421          Perth    Kalgoorlie  Virgin Australia Regional Airlines
73422          Perth      Karratha  Virgin Australia Regional Airlines
73423          Perth        Newman  Virgin Australia Regional Airlines
73424          Perth  Port Hedland  Virgin Australia Regional Airlines
73425   Port Hedland         Perth  Virgin Australia Regional Airlines

      Month_Start  Flights  Departures_Delayed  Arrivals_Delayed
73421  2023-06-01       29                 8.0              10.0
73422  2023-06-01       12                 4.0               6.0
73423  2023-06-01       20                 9.0              10.0
73424  2023-06-01       25                 9.0               9.0
73425  2023-06-01       25                13.0              14.0

Question 2a

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73426 entries, 0 to 73425
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Departing_Port      73426 non-null  object
 1   Arriving_Port       73426 non-null  object
 2   Airline             73426 non-null  object
 3   Month_Start         73426 non-null  datetime64[ns]
 4   Flights             73426 non-null  int64
 5   Departures_Delayed  73421 non-null  float64
 6   Arrivals_Delayed    73426 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 3.9+ MB
None

In [30]:
print(df.isnull().sum())

Departing_Port        0
Arriving_Port         0
Airline               0
Month_Start           0
Flights               0
Departures_Delayed    5
Arrivals_Delayed      0
dtype: int64

In [31]:
print(df[df.isnull().any(axis=1)])

      Departing_Port   Arriving_Port  Airline Month_Start  Flights  \
3098       Melbourne          Hobart  Jetstar  2005-04-01      150
3099       Melbourne      Launceston  Jetstar  2005-04-01      120
3101       Melbourne  Sunshine Coast  Jetstar  2005-04-01       60
9753          Sydney      Launceston  Jetstar  2007-09-01       30
10011      Melbourne          Cairns   Qantas  2007-10-01       31

       Departures_Delayed  Arrivals_Delayed
3098                  NaN              24.0
3099                  NaN              13.0
3101                  NaN               5.0
9753                  NaN               2.0
10011                 NaN               2.0

In [32]:
earliest = df['Month_Start'].min()
latest = df['Month_Start'].max()

print(f"Date range: {earliest}-{latest}")

Date range: 2004-01-01 00:00:00-2023-06-01 00:00:00

In [33]:
ports = pd.concat([df['Departing_Port'], df['Arriving_Port']])
print(ports.unique())

['Adelaide' 'Alice Springs' 'Brisbane' 'Broome' 'Cairns' 'Canberra'
 'Darwin' 'Gold Coast' 'Kalgoorlie' 'Melbourne' 'Perth' 'Sydney'
 'Townsville' 'Albury' 'Burnie' 'Coffs Harbour' 'Devonport' 'Dubbo'
 'Hobart' 'Launceston' 'Mackay' 'Mildura' 'Rockhampton' 'Sunshine Coast'
 'Wagga Wagga' 'Proserpine' 'Newcastle' 'Ballina' 'Karratha'
 'Hamilton Island' 'Hervey Bay' 'Port Hedland' 'Port Lincoln'
 'Port Macquarie' 'Newman' 'Ayers Rock' 'Gladstone' 'Geraldton' 'Emerald'
 'Mount Isa' 'Bundaberg' 'Moranbah' 'Armidale' 'Tamworth']

In [34]:
print(df['Airline'].unique())

['Qantas' 'QantasLink' 'Regional Express' 'Skywest' 'Virgin Australia'
 'Jetstar' 'Ozjet' 'Tigerair Australia'
 'Virgin Australia - ATR/F100 Operations'
 'Virgin Australia Regional Airlines' 'Rex Airlines']

In [35]:
df['Year'] = df['Month_Start'].dt.year
df['Month'] = df['Month_Start'].dt.month_name()
print(df.head())

  Departing_Port Arriving_Port Airline Month_Start  Flights  \
0       Adelaide      Brisbane  Qantas  2004-01-01       93
1       Adelaide      Canberra  Qantas  2004-01-01       48
2       Adelaide    Gold Coast  Qantas  2004-01-01        9
3       Adelaide     Melbourne  Qantas  2004-01-01      350
4       Adelaide         Perth  Qantas  2004-01-01      130

   Departures_Delayed  Arrivals_Delayed  Year    Month
0                12.0               8.0  2004  January
1                 3.0               3.0  2004  January
2                 1.0               1.0  2004  January
3                33.0              25.0  2004  January
4                 9.0               5.0  2004  January

In [39]:
df_2 = pd.read_csv("data/domestic_flights.csv")
print(df_2.head())

      City1          City2   Month  Passenger_Trips  Aircraft_Trips  \
0  ADELAIDE  ALICE SPRINGS  Jan-84            15743             143
1  ADELAIDE       BRISBANE  Jan-84             3781              32
2  ADELAIDE       CANBERRA  Jan-84             1339              12
3  ADELAIDE         DARWIN  Jan-84             3050              33
4  ADELAIDE     GOLD COAST  Jan-84             1596              16

   Route_Distance  Seats
0            1316  19246
1            1622   4210
2             972   1414
3            2619   4566
4            1607   1803